body {
  background-color: black;
  color:#F0EDE6;
  line-height: 1.5;
  font-family: Russo One;
}





/* --------------------------HEADING-------------------------- */

.heading{
  margin: 0;
  padding: none;
}
@media screen and (min-width: 992px) {
  .heading {
    margin-left:150px;
    margin-right:150px;
  }
}

.headinghalfpage{
  margin: 0;
  padding: none;
}

.headinginformation{
  margin:0px;
}

.textinformation{
  margin:0px;
  font-family: Helvetica;
  padding-top: 10px;
}

.heading4{
  margin:10px;
}




/* --------------------------TEXT-------------------------- */

.text{
  font-family: Helvetica;
}





/* --------------------------BUTTON-------------------------- */







/* --------------------------NAVBAR-------------------------- */

.navbar{
  padding-left: 50px;
  padding-right: 50px;
}

.navcontainer{
  background-color: transparent;
  position: fixed;
  z-index:999;
  top: 0;
  left:0;
  width: 100%;
  transition: background-color 0.3s;
}
@media screen and (max-width: 720px) {
  .navcontainer {
    position:sticky;
    transition: background-color 0.0s;
  }
}

.navcontainer.fixed-menu {
  background-color: black;
}

.wp-block-navigation__container li {
  margin-left: 50px;
}

.menu-top-menu{
  font-size: 15px;
}
@media screen and (max-width: 720px) {
  .menu-top-menu {
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    display: flex;
  }
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .has-child .wp-block-navigation__submenu-container {
  border: none;
  height: auto;
  min-width: 200px;
  opacity: 1;
  overflow: initial;
  padding:0px;
  padding-right: 20px;
  /* padding-right: 2rem; */
  position: static;
  visibility: visible;
  width: auto;
}

.wp-block-navigation__responsive-container {
  bottom: none;
  display: none;
  left:none;
  position: fixed;
  right: 0;
  top: 0;
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
  background-color: #fff;
  color: #000;
  height: 100%;
  width: 30%;
  
}


/* --------------------------VIDEO-HEADER-------------------------- */




/* --------------------------BUTTONS-CLUBS-CONTAINER-------------------------- */

.buttoncontainer{
  padding-top: 20px;
  padding-bottom: 0px;
}
@media screen and (min-width: 992px) {
  .buttoncontainer {
    margin-left:150px;
    margin-right:150px;
  }

  .button{
    height: 50%;
  }
}

/* .clubbutton{
  width:100%;
  height:100%;
  clip-path: polygon(15% 0%, 100% 0%, 100% 70%, 85% 100%, 0% 100%, 0% 30%);
} */





/* --------------------------EVENTS-CONTAINER-------------------------- */

.eventcontainer{
  margin-bottom: 20px;
}
  @media screen and (min-width: 992px) {
    .eventcontainer {
      margin-left:150px;
      margin-right:150px;
    }
}





/* --------------------------INFORMATION-CONTAINER-------------------------- */

.informationcontainer{
  margin-bottom: 30px;
  margin-top: 30px;
}
  @media screen and (min-width: 992px) {
    .informationcontainer {
      margin-left:150px;
      margin-right:150px;
    }
}

.backgroundcontainer{
  background-image: url('https://int4.kantenesbjerg.dk/wp-content/uploads/2023/05/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image{
  width: 285px;
  height: 48px;
}


/* --------------------------PROMO COMMERCIAL-------------------------- */

.video{
  margin-bottom: 0px;
  margin-top: 10px;
}
  @media screen and (min-width: 992px) {
    .video {
      margin-left:150px;
      margin-right:150px;
    }
}

.videocontainer{
  background-image: url('https://int4.kantenesbjerg.dk/wp-content/uploads/2023/05/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}




/* --------------------------FOOTER-------------------------- */

.footer{
  font-family: Helvetica;
  text-decoration: none;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20px;
  margin-left: 0px !important;;
  margin-right: 0px !important;;
}

.titlefooterright{
  font-family: Russo One;
  padding-left: 50px;
}

.titlefooterleft{
  font-family: Russo One;
  padding-right: 50px;
}

.logofooter{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator{
  opacity: 40%;
  margin:0px;
}

.clubfooter{
  line-height: none;
  padding: none;
  padding-right: 50px;
}

.socialmedia{
  margin:0px;
}

.a{
  text-decoration: none;
}

.clubfooter p a {
  text-decoration: none;
  padding: none;
}

.clubfooter p {
  padding: 0px;
}

.checkonus{
  font-family: Russo One;
  padding-top: 20px;
  padding-bottom:0px;
}



/* --------------------------NEWSLETTER-------------------------- */

input.mc-input {
  padding: 0 20px;
  display: block;
  min-width: 400px;
  height: 50px; 
  font-family: Helvetica;
  font-weight: 500;
  line-height: 28px;
  text-transform: none;
  font-size: 14px;
  color: #474747;
}

input.mc-button {
  background-color: #8F6DEE;
  color: black;
  font-size: 18px;
  border-radius: none;
  min-width: 400px;
  height: 50px;   
  border: none;
  font-family: Russo One;
}

h5{
  font-family: Helvetica;
  font-size: 15px;
}


.mc4wp-form-fields{
  color: #F0EDE6;
  border: none;
  min-height: 200px;
  background-image: url('https://int4.kantenesbjerg.dk/wp-content/uploads/2023/05/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Russo One;
}

.mc4wp-form-fields h3{
  font-family: Russo One;
  font-size: 35px;
}

.wp-block-column1{
  padding:10px;
  padding-left: 50px;
  overflow: hidden;
}
  /* @media screen and (max-width: 768px) {
 


} */





/* --------------------------FORM-------------------------- */


.submitbutton{
  background-color: #8F6DEE;
  color: black;
  font-size: 18px;
  border-radius: none;
  min-width: 100%;
  height: 50px;   
  border: none;
  font-family: Russo One;
}

.form{
  font-family: helvetica;
}



/* --------------------------OTHERS-------------------------- */

.table {
  border-collapse: collapse;
  border: none;
}
